body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
    flex-direction: column;
}

.wheel-container {
    text-align: center;
    position: relative;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
}

.result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    transition: opacity 1s ease-out;
    opacity: 0;
}

.result.show {
    opacity: 1;
}
